html {
  scroll-behavior: smooth;
}

body {
    background-color: #111316;
    margin: 0px;
}

.line1 {
  z-index: -99999;
}

.yummy-cards{
  display:none;
}

.navbar {
    opacity: 0.9;
    text-align: center;
    padding: 40px 0px 160px 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.navbar a {
    text-align: left;
    letter-spacing: -0.57px;
    color: #FFFFFF;
    opacity: 1;
    padding-right: 130px;
    font-family: tenon, sans-serif;
    text-decoration: none;
    font-size: 0.9rem;   
    display: table-cell; 
    vertical-align: middle;
}

.navbar a:hover {
  transform: scale(1.02);
}

.logo-image {
    width: 27px;
}

.discordpfp {
    padding-left: 200px;
    width: 45px;
}

/* Hero Page */
.hero {
  padding-bottom: 250px;
  display: flex;
  justify-content: center;
}

.long-logo {
    width: 100px;
    position: relative;
    left: 5px;
}

.gotem {
    width: 200px;
    height: 400.71px;
}

.lefthero {
  position: relative;
  top: -50px;
}
.righthero {
    font-family: tenon, sans-serif;
    padding-bottom: 40px;
    padding-left: 100px;
    position: relative;
    top: 15px;
}

.line1 {
    margin-left: 3px;
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 500;
}
.line2 {
    padding-bottom: 20px;
}

.paragraph {
    font-size: 23px;
    width: 350px;
    color: #FFFFFF;
    font-family: tenon, sans-serif;
    font-weight: 100;
    padding-bottom: 40px;
}

.learn-more-btn {
    background-color: #f32a5b; /* Green */
    border: none;
    color: white;
    padding: 20px 50px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: tenon, sans-serif;
}

.learn-more-btn:hover {
  transform: scale(1.03);
  background-color: #181B22;
  color: #FFFFFF;
  border: none;
}

/* Features */

.features {
  padding-bottom: 300px;
  background-image:url(./Images/lines.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 105%;
}

.feature-cards {
  display: flex;
  justify-content: center;
  padding-bottom: 300px;
  background-image:url(./Images/circles.svg);
  background-position: center bottom;
  background-size: 110%; 
  background-repeat: no-repeat;
}

.feat {
  padding-right: 50px;
}

.fcard {
  flex-direction: column;
  text-align: center;
  background-color: #181B22;
  width: 350px;
  height: 250px;
  border-radius: 7px;
}

.topclock {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -45px;
}

.fcard-title {
  font-family: tenon, sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 700;
  position: relative;
  top: -60px;
  padding-bottom: 10px;
}

.fcard-desc {
  font-family: tenon, sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  position: relative;
  top: -60px;
  width: 275px;
  margin: 0 auto;
  opacity: 0.8;
  line-height: 1.867;
}

.t {
  width: 80px;
} 

.card-header {
  display: flex;
  display: table-cell;
  vertical-align: middle;
}

.profile-pic {
  width: 50px;
  border-radius: 50%;
}

.leftpfp-info {
  flex-direction: column;
  display: inline-block;
  position: relative;  
  top: -6px;
  padding-left: 7px;
}

.profile-un {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
}

.star {
  width: 10px;
}

.card-desc {
  font-size: 13px;
  color: #FFFFFF;
  font-weight: 200 !important;
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: tenon, sans-serif;
}

.card-desc {
  padding-top: 15px;
}

.card {
  flex-direction: column;
  
}

.cards .card {
  background: #181B22;
  padding: 40px;
  max-width: 30rem;
  border-radius: 10px;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  animation: animate 15s infinite linear;
  animation-delay: calc(3s * var(--delay));

}


.outer:hover .card {
  animation-play-state: paused;
}
.cards .card:last-child {
  animation-delay: calc(-3s * var(--delay));
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%,
  20% {
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%,
  40% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0%) scale(1);
  }
  45%,
  60% {
    opacity: 0;
    transform: translateY(-100%) scale(0.7);
  }
  65%,
  100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}

@media (max-width: 467px) {
  /*Edited*/
  .card {
    font-size: 10px;
    padding: 0.5rem !important;
    margin: 0.5rem;
    text-align: center;
  }
  .header,
  .profile {
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
}

/* Prices */
.prices {
  font-family: tenon, sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bottomtext {
    font-size: 20px;
    font-family: tenon, sans-serif;
    font-weight: 200;
    color: #FFFFFF;
    padding-top: 20px;
}

.pricing {
  flex-direction: column;
  background-image:url(./Images/lines.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 105%;
}

.top-selection {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.site-selection {
  width: 217px;
  height: 85px;
  background-color: #181B22;
  border-radius: 10px;
  margin-right: 30px;
  display: flex;  
  align-items: center;
}

.selection-logo {
  width: 40px;
  padding-right: 20px;
  padding-left: 30px;
}

.break-line {
  border-right: 2px solid #707070;
  height: 40px; 
}

.selection-text {
  font-size: 15px;
  color: #FFFFFF;
  padding-left: 15px;
}

.bottom-selection-nike {
  display:flex;  
  justify-content: center;
}

.bottom-selection-gm {
  flex-direction: column;
}

.nike-card {
  width: 300px;
  height: 400px;
  background-color: #181B22;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-right: 30px;
  position: relative;
}

.nc-sub-selection {
  flex-direction: column;
}

.sub-card {
  width: 300px;
  height: 120px;
  background-color: #181B22;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  

}

.sc-btn-text {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px 45px;
  background-color: #f32a5b;  
  margin-bottom: 5px;
  font-size: 14px;
  border-radius: 10px;
}

.sub-c-title {
  padding-bottom: 10px;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 600;
  padding-top: 5px;
}

.ea-type {
  display: flex ;
  padding-bottom: 10px;
  font-size: 15px;
  color: #FFFFFF;
}

.dropdown {
  padding-left: 10px;
}
.gm-card {
    width: 300px;
    height: 400px;
    background-color: #181B22;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-right: 30px;
    position: relative;
}

.cm-card {
  width: 300px;
  height: 400px;
  background-color: #181B22;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-right: 30px;
  position: relative;
}

.rt-card {
  width: 300px;
  height: 400px;
  background-color: #181B22;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-right: 30px;
  position: relative;
}

.pd-type {
  font-size: 23px;
  color: #FFFFFF;
  font-weight: 550;
}

.pd-price {
  color: #CFCFCF;
  font-size: 15px;
  padding-bottom: 20px;
}

.pd-desc {
  width: 250px;
  color: #e6e6e6;
  font-size: 14px;
  letter-spacing: -0.47px;
}

.pd-btn {
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 10px;
  background-color: #f32a5b;
  position: absolute;
  bottom: 0;
  left: 1;
  margin-bottom: 20px;
}

.gm-top {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.gm-bottom {
  display: flex;
  justify-content: center;
}

.cm-top {
  display: flex;
  justify-content: center;
}

.rt-top {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.rt-bottom {
  display: flex;
  justify-content: center;
}
/* FAQ */
.faq {
    padding-top: 20px;
    padding-bottom: 200px;
    background-image:url(./Images/lines.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 105%;
}
.maincol {
    padding: 0px 16px 0px 16px;
    margin: 0px 190px 0px 190px;
  }
  
.contents {
    margin: 80px 0px 80px 0px;
}

summary {
    font-family: tenon, sans-serif;
    font-size: 20px;
    line-height: 1.1;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 500;
    padding: 30px;
    outline: none;
    text-align: left;
    cursor: pointer;
    position: relative;
  }
  
  details {
    background: #181b22;
    border-radius: 17px !important;
    margin-bottom: 16px;
  }
  
  .faq_content {
    padding: 0px 24px 16px 24px;
    color: #CFCFCF;
    font-family: tenon, sans-serif;
    font-size: 16px;
    line-height: 1.867;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 4.8px;
  }
  
  .ans {
    margin-top: 0px;
    margin-bottom: 16px;
  }
  
  details > summary::after {
    position: absolute;
    content: "+";
    right: 20px;
  }
  details[open] > summary::after {
    position: absolute;
    content: "-";
    right: 20px;
  }
  
  details > summary {
    list-style: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }
  
  
  details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
  }
  @keyframes sweep {
    0% {
      opacity: 0;
      margin-top: -10px;
    }
    100% {
      opacity: 1;
      margin-top: 0px;
    }
  }

/* Success */
.text {
    text-align: center;
    font-family: tenon, sans-serif;
    padding-bottom: 50px;
}

.firstline {
    font-size: 45px;
    color: #FFFFFF;
    font-weight: 500;
}

.secondline {
    font-size: 50px;
    color: #F32A5B;
    font-weight: 700;
}

.twitter-timeline {
    margin: auto;
}
/* Footer */

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15rem;
    background-color: #181b22;
    margin-top: 200px;
}

.main-ft {
  display: flex;
  align-items: center;
  color:#FFFFFF;
}

.br-footer {
  flex-direction: column;
  position: relative;
  top: 70px;
  padding-left: 30px;
}

.footer-img {
  width: 100px;
}

.footer-lg-text {
  color: #FFFFFF;
  font-family: tenon, sans-serif;
  font-size: 14px;
  margin: 10px 0px 0px 0px;
}

.middle-text {
  display: flex;
  align-items: center;
  height: 15rem;
}

.general-ft {
  flex-direction: column;
  font-family: tenon, sans-serif;
  font-size: 16px;
  padding-left: 150px;
}

.ft-title {
  font-weight: 600;
}

.ft-content {
  font-size: 14px;
  padding-top: 15px;
  text-decoration: none;
}

.discord-link {
  width: 300px;
  height: 90px;
  background-color: #f32a5b;
  border-radius: 50px 0px 0px 50px;
  display: flex;
  align-items: center;
  position: relative;
  left: 5.8%;
  text-decoration: none;
}

.discord-link:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #f32a5b;
}

.dbtn-text {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  padding-left: 30px;
}

.discord-txt-logo {
  padding-left: 30px;
  width: 45px;
}

.hypertext:hover {
  color: #F32A5B !important;
}

/* Hyper Text Props */

.hypertext {
  text-decoration: none;
  color: #FFFFFF;
}